@import "./helpStyles/fonts";
@import "./helpStyles/reset";
@import "./helpStyles/variables";
@import "../../node_modules/swiper/swiper-bundle.css";

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-paddings;
}

@import "./header";
@import "./destination";
@import "./customers";
@import "./discount";
@import "./subscribe";
@import "./footer";

@import "./media";
