@import './helpStyles/fonts';
@import './helpStyles/reset';
@import './helpStyles/variables';

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $container-paddings;
}

.container-right {
  padding-left: calc((100% - $container-width) / 2 + $container-paddings);
}

// header 
.header {
  position: relative;
  min-height: 940px;
  padding-top: 44px;
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
  color: #fff;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 96px;
    background: url('../assets/images/header/triangle.svg') no-repeat;
    background-size: 100%;
  }
}

.header__top {
  position: relative;
  margin-bottom: 86px;
  z-index: 1;
}

// navigation
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
  font-size: 15px;
}

.navigation__logo {
  font-weight: 600;
  font-size: 20px;
}

.navigation__links {
  display: flex;
  align-items: center;
  column-gap: 80px;
  font-weight: 500;
}

.navigation__link{
  position: relative;
  &.--active-link::after,
  &:hover::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    display: block;
    width: 80%;
    height: 4px;
    background-color:#C4C4C4;
    border-radius: 100px;
  }
}

.navigation__btns {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navigation__auth {
  font-weight: 500;
}

.navigation__login {
  padding: 13px 43px;
  background: $btn-color;
  border-radius: 100px;
}

.navigation__login:active,
.header__btn:active{
   transform: scale(0.95);
}

// header body
.header__body {
  display: flex;
}

.header__body-left{
  max-width: 592px;
  z-index: 1;
}

.header__bedge {
  display: inline-block;
  margin-bottom: 7px;
  padding: 12px 30px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  font-size: 18px;
}

.header__title {
  margin-bottom: 30px;
  font-size: 55px;
  line-height: 82px;
}

.header__text {
  max-width: 519px;
  margin-bottom: 68px;
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  color: rgb(255, 255, 255, 0.5);
}

.header__btn {
  display: inline-block;
  padding: 26px 48px;
  background: $btn-color;
  border-radius: 27px;
  font-weight: 600;
  font-size: 25px;
}

.header__body-right{
  position: relative;
  flex: 1 0 auto;
}
.header__body_img {
   position: absolute;
   right: -87px;
   top: -166px;
   width: 894px;
   height: 940px;
}

@import './_media'